@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
@import "./mixins";
@import "./colors";
*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-family: "Poppins", sans-serif;
}
body {
  background: $bg-gradient;
  height: auto;
}
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 30px;
  height: 100vh;
}

@import "./title-section";
@import "./social-section";
@import "./details-section";
@import "./cta-section";
