@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  color: white;
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}
button {
  padding: 1rem 3.2rem;
  color: white;
  border: 1.8px solid white;
  background: none;
  font-size: 1.8rem;
  cursor: pointer;
  border-radius: 2rem;
  outline: none;
  &:focus {
    outline: none;
  }
}
.hero {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 50%),
    url(./images/bg3.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  .container {
    width: 80%;
    margin: 0 auto;
    nav {
      padding: 2.8rem 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      h2 {
        font-family: "Bebas Neue", cursive;
        text-transform: uppercase;
        font-size: 3.2rem;
        letter-spacing: 0.8rem;
      }
    }
    .content {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 2;
      small {
        font-size: 1.8rem;
      }
      h1 {
        font-size: 8rem;
        line-height: 1;
        margin: 0 0 2rem;
      }
    }
    .side-bar {
      width: 60px;
      height: 100vh;
      position: absolute;
      right: 0;
      top: 0;
      backdrop-filter: blur(10px);
      background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.1),
        rgba(255, 255, 255, 0.1)
      );
      .menu {
        width: 100%;
        text-align: center;
        margin: 2.8rem auto 0;
        i {
          display: block;
          font-size: 3.2rem;
        }
      }

      .social-links,
      .useful-links {
        width: 100%;
        position: absolute;
        text-align: center;
        i {
          font-size: 2.8rem;
          display: block;
          margin: 2.2rem auto 0;
          cursor: pointer;
        }
      }
      .social-links {
        top: 50%;
        transform: translateY(-50%);
      }
      .useful-links {
        bottom: 3rem;
      }
    }
    .bubbles {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      position: absolute;
      bottom: -70px;
      left: 0;
      img {
        width: 50px;
        animation: bubbles 7s linear infinite;
        &:nth-child(1) {
          width: 20px;
          animation-delay: 2s;
        }
        &:nth-child(2) {
          width: 28px;
          animation-delay: 4s;
        }
        &:nth-child(3) {
          width: 35px;
          animation-delay: 2.5s;
        }
        &:nth-child(4) {
          width: 50px;
          animation-delay: 3.5s;
        }
        &:nth-child(5) {
          width: 42px;
          animation-delay: 6s;
        }
        &:nth-child(6) {
          width: 25px;
          animation-delay: 2.8s;
        }
        &:nth-child(7) {
          width: 38px;
          animation-delay: 4.2s;
        }
      }
    }
  }
}
@keyframes bubbles {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: translateY(-80vh);
    opacity: 0;
  }
}
