.card-layout {
  //   height: 100vh;
  background: url(../images/projects-bg.jpg) no-repeat center;
  background-size: cover;
  padding: 60px 0;
  @include respond-above(xl) {
    padding: 98px 0;
    // height: 90vh;
  }
  .uk-container-large {
    @include respond-below(xl) {
      max-width: 1100px;
    }
  }

  @include respond-below(sm) {
    height: auto;
    background: $bg-linear-gradient;
  }

  .section-title {
    * {
      color: white;
    }
  }
  .uk-card-media-top {
    position: relative;

    @include respond-below(sm) {
      max-width: none;
      width: 80%;
    }
    @include respond-above(sm) {
      max-width: 250px;
    }
    @include respond-above(xl) {
      max-width: 330px;
    }

    &::after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      background: linear-gradient(to top, #1a4789, #6dbbd9);
      opacity: 0.27;
      top: -13px;
      left: 30px;
      z-index: 0;
      border-radius: 12px;
    }
    &::before {
      content: "";
      width: 110%;
      height: 100%;
      position: absolute;
      background: linear-gradient(to top, #1a4789, #6dbbd9);
      opacity: 0.26;
      top: -25px;
      left: 25px;
      z-index: 0;
      border-radius: 12px;
    }
    img {
      border-radius: 12px;
      position: relative;
      z-index: 1;
    }
  }
  .uk-card-body {
    padding: 20px 20px 20px 0;
    @include respond-below(xl) {
      max-width: 250px;
    }
    @include respond-below(sm) {
      max-width: none;
    }
    @include respond-above(xl) {
      padding: 28px 20px 28px 0;
      max-width: 330px;
    }
    * {
      color: white;
    }
    .secondary-btn {
      color: $secondary-color;
      &::after {
        background: url(../images/icons/right-arrow-orange.svg) no-repeat center
          center;
      }
    }
  }
}
