h1 {
  font-size: 22px;

  font-weight: $font-bold;

  @include respond-above(xs) {
    font-size: 36px;
    line-height: 50px;
  }
  @include respond-above(xl) {
    font-size: 50px;
    line-height: 70px;
  }
}

h2 {
  color: $primary-color;
  font-weight: $font-bold;
  font-size: 32px;
  @include respond-above(xl) {
    font-size: 40px;
  }
}
h3 {
  color: $primary-color;
  font-weight: $font-medium;
  font-size: 18px;
  @include respond-above(xl) {
    font-size: 20px;
  }
}
h5 {
  color: $primary-color;
  font-size: 14px;
  @include respond-above(xl) {
    font-size: 15px;
  }
}

p {
  color: $text-color;
}
