// Colors
$primary-color: #072753;
$secondary-color: #ff9c00;
$secondary-color-hover: #fdb43e;
$bg-primary: #1a4789;
$border-color: #1b498a;
$bg-linear-gradient: linear-gradient(
  180deg,
  rgba(26, 71, 137, 1) 45%,
  rgba(66, 127, 176, 1) 100%
);
$footer-bg: #011021;
$footer-font-color: #a9b2bc;
$text-color: #28384e;
// Fonts
$primary-font: "HelveticaNeue", sans-serif, arial;

// Font Weight
$font-bold: bold;
$font-normal: normal;
$font-medium: 400;
