@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeueLTW1G-Bd.woff2") format("woff2"), url("../fonts/HelveticaNeueLTW1G-Bd.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeueLTW1G-Md.woff2") format("woff2"), url("../fonts/HelveticaNeueLTW1G-Md.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeueLTW1G-Roman.woff2") format("woff2"), url("../fonts/HelveticaNeueLTW1G-Roman.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  font-family: "HelveticaNeue", sans-serif, arial;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
}

@media (min-width: 1600px) {
  html {
    font-size: 15px;
  }
}

a,
a:hover {
  text-decoration: none;
  display: inline-block;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.uk-flex {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 640px) {
  .uk-flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.uk-flex.uk-flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.section-title {
  max-width: 650px;
  margin: 0 auto 50px;
}

@media (min-width: 1600px) {
  .section-title {
    max-width: 735px;
    margin: 0 auto 60px;
  }
}

@media (min-width: 640px) {
  .uk-container-small {
    max-width: 1000px;
  }
}

@media (min-width: 1600px) {
  .uk-container-small {
    max-width: 1200px;
  }
}

.uk-card-title {
  font-size: 18px;
}

@media (min-width: 1600px) {
  .uk-card-title {
    font-size: 20px;
  }
}

h1 {
  font-size: 22px;
  font-weight: bold;
}

@media (min-width: 375px) {
  h1 {
    font-size: 36px;
    line-height: 50px;
  }
}

@media (min-width: 1600px) {
  h1 {
    font-size: 50px;
    line-height: 70px;
  }
}

h2 {
  color: #072753;
  font-weight: bold;
  font-size: 32px;
}

@media (min-width: 1600px) {
  h2 {
    font-size: 40px;
  }
}

h3 {
  color: #072753;
  font-weight: 400;
  font-size: 18px;
}

@media (min-width: 1600px) {
  h3 {
    font-size: 20px;
  }
}

h5 {
  color: #072753;
  font-size: 14px;
}

@media (min-width: 1600px) {
  h5 {
    font-size: 15px;
  }
}

p {
  color: #28384e;
}

.primary-btn {
  background-color: #ff9c00;
  color: white;
  border-radius: 5px;
  -webkit-transition: background-color ease 0.2s;
  transition: background-color ease 0.2s;
  padding: 5px 18px;
  display: inline-block;
}

@media (min-width: 640px) {
  .primary-btn {
    font-size: 14px;
  }
}

@media (min-width: 1600px) {
  .primary-btn {
    font-size: 15px;
    padding: 12px 30px;
  }
}

.primary-btn:hover {
  color: white;
  background-color: #fdb43e;
}

.secondary-btn {
  font-size: 14px;
  color: #072753;
  text-transform: capitalize;
  position: relative;
}

@media (min-width: 1600px) {
  .secondary-btn {
    font-size: 15px;
  }
}

.secondary-btn::after {
  content: "";
  background: url("../images/icons/right-arrow.svg") no-repeat center center;
  position: absolute;
  width: 12px;
  height: 7px;
  margin: auto;
  right: 0;
  bottom: 0;
  top: 0;
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
  -webkit-transition: -webkit-transform ease 0.5s;
  transition: -webkit-transform ease 0.5s;
  transition: transform ease 0.5s;
  transition: transform ease 0.5s, -webkit-transform ease 0.5s;
}

.secondary-btn:hover {
  color: #ff9c00;
}

.secondary-btn:hover::after {
  -webkit-transform: translateX(25px);
          transform: translateX(25px);
}

header {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 100;
}

@media (max-width: 639px) {
  header {
    position: fixed;
    height: 10vh;
    background-color: #1a4789;
  }
}

@media (max-width: 639px) {
  header .uk-flex {
    height: 10vh;
  }
}

@media (min-width: 640px) {
  header .uk-flex {
    height: 70px;
  }
}

@media (min-width: 1600px) {
  header .uk-flex {
    height: 105px;
  }
}

@media (min-width: 640px) {
  header .logo {
    max-width: 170px;
  }
}

@media (min-width: 1600px) {
  header .logo {
    max-width: 240px;
  }
}

@media (max-width: 639px) {
  header .logo {
    max-width: 150px;
  }
}

@media (min-width: 640px) {
  header .navbar ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

header .navbar ul li {
  margin: 0 20px;
}

header .navbar ul li:hover a {
  color: #ff9c00;
}

header .navbar ul li a {
  -webkit-transition: color ease 0.3s;
  transition: color ease 0.3s;
  color: white;
}

@media (min-width: 640px) {
  header .navbar ul li a {
    font-size: 14px;
  }
}

@media (min-width: 1600px) {
  header .navbar ul li a {
    font-size: 16px;
  }
}

@media (max-width: 639px) {
  .button {
    display: none;
  }
  .navbar .navbar-nav {
    width: 100%;
    height: 100vh;
    background: #072753;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    top: 0;
    right: -100%;
    text-align: center;
    z-index: 999;
    -webkit-transition: -webkit-transform ease 0.5s;
    transition: -webkit-transform ease 0.5s;
    transition: transform ease 0.5s;
    transition: transform ease 0.5s, -webkit-transform ease 0.5s;
  }
  .navbar .navbar-nav.active {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  .navbar .navbar-nav li {
    margin: 20px 0;
  }
  .navbar .navbar-nav li a {
    font-size: 22px;
    color: white;
    display: block;
    padding: 5px 0;
  }
  #hamburger {
    position: relative;
    z-index: 1000;
    cursor: pointer;
    width: 26px;
    margin: auto;
  }
  .bar {
    display: block;
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background: white;
    transition: 0.25s;
    -webkit-transition: 0.25s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .bar:nth-child(2) {
    margin: 20% 0;
  }
  .animate .bar:nth-child(1) {
    -webkit-transform: translateY(10px) rotate(135deg);
            transform: translateY(10px) rotate(135deg);
  }
  .animate .bar:nth-child(2) {
    opacity: 0;
  }
  .animate .bar:nth-child(3) {
    -webkit-transform: translateY(-6px) rotate(-135deg);
            transform: translateY(-6px) rotate(-135deg);
  }
}

:root {
  --hero-height: 85vh;
}

@media (max-width: 639px) {
  :root {
    --hero-height: 100vh;
  }
}

.hero {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(45%, #1a4789), to(#427fb0));
  background: linear-gradient(180deg, #1a4789 45%, #427fb0 100%);
  height: var(--hero-height);
  overflow: hidden;
  -webkit-perspective: 100px;
          perspective: 100px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.hero::after {
  content: "";
  height: 80px;
  background-color: white;
  position: absolute;
  bottom: -80px;
  right: -5%;
  left: -5%;
  z-index: 11;
  -webkit-transform: rotateZ(358deg);
          transform: rotateZ(358deg);
  -webkit-transform-origin: left center;
          transform-origin: left center;
}

.hero .uk-inner {
  height: var(--hero-height);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 639px) {
  .hero .uk-inner {
    margin-top: 35px;
  }
}

.hero .hero-text p {
  margin-bottom: 35px;
}

@media (min-width: 640px) {
  .hero .hero-text {
    max-width: 500px;
    margin-right: 100px;
  }
}

@media (min-width: 1600px) {
  .hero .hero-text {
    max-width: 699px;
    margin-right: 144px;
  }
  .hero .hero-text p {
    margin-bottom: 45px;
  }
}

.hero .hero-text * {
  color: white;
}

.hero .hero-img img {
  max-width: 250px;
}

@media (min-width: 640px) {
  .hero .hero-img img {
    max-width: 400px;
  }
}

@media (min-width: 1600px) {
  .hero .hero-img img {
    max-width: 515px;
  }
}

.services-section {
  margin-top: 80px;
}

@media (min-width: 1600px) {
  .services-section {
    margin-top: 96px;
  }
}

.services-section .icon-info .icon {
  width: 75px;
  height: 75px;
  background: rgba(253, 180, 62, 0.05);
  border-radius: 50%;
  margin-bottom: 18px;
}

@media (min-width: 1600px) {
  .services-section .icon-info .icon {
    width: 85px;
    height: 85px;
    margin-bottom: 18px;
  }
}

.services-section .icon-info .info {
  max-width: 332px;
  margin-top: 18px;
}

.img-info-section {
  margin: 60px 0;
  position: relative;
}

@media (min-width: 640px) {
  .img-info-section {
    margin: 120px 0;
  }
}

.img-info-section.has-bg {
  padding: 70px 0;
}

@media (min-width: 1600px) {
  .img-info-section.has-bg {
    padding: 118px 0;
  }
}

.img-info-section.has-bg::before {
  content: "";
  position: absolute;
  background: url(../images/BG.svg) no-repeat center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.26;
}

.img-info-section .info {
  max-width: 480px;
}

@media (min-width: 1600px) {
  .img-info-section .info {
    max-width: 600px;
  }
}

.img-info-section .info p + p {
  margin-bottom: 30px;
}

@media (min-width: 1600px) {
  .img-info-section .info p + p {
    margin-bottom: 55px;
  }
}

.img-info-section .img {
  max-width: 400px;
}

@media (min-width: 1600px) {
  .img-info-section .img {
    max-width: 631px;
    -webkit-transform: translateX(-150px);
            transform: translateX(-150px);
  }
}

@media (min-width: 1600px) {
  .img-info-section .uk-flex-row-reverse .img {
    -webkit-transform: translateX(150px);
            transform: translateX(150px);
  }
}

.global-form input {
  height: 50px;
  width: 100%;
  border: 1px solid #ede5d9;
  background-color: #faf9f7;
  border-radius: 5px;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 1600px) {
  .global-form input {
    height: 60px;
  }
}

.global-form .primary-btn {
  position: absolute;
  right: 5px;
  top: 5px;
  bottom: 5px;
  margin-top: 0;
  line-height: 15px;
  border: none;
}

.global-form .primary-btn:focus, .global-form .primary-btn:active {
  border: none;
}

.card-layout {
  background: url(../images/projects-bg.jpg) no-repeat center;
  background-size: cover;
  padding: 60px 0;
}

@media (min-width: 1600px) {
  .card-layout {
    padding: 98px 0;
  }
}

@media (max-width: 1599px) {
  .card-layout .uk-container-large {
    max-width: 1100px;
  }
}

@media (max-width: 639px) {
  .card-layout {
    height: auto;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(45%, #1a4789), to(#427fb0));
    background: linear-gradient(180deg, #1a4789 45%, #427fb0 100%);
  }
}

.card-layout .section-title * {
  color: white;
}

.card-layout .uk-card-media-top {
  position: relative;
}

@media (max-width: 639px) {
  .card-layout .uk-card-media-top {
    max-width: none;
    width: 80%;
  }
}

@media (min-width: 640px) {
  .card-layout .uk-card-media-top {
    max-width: 250px;
  }
}

@media (min-width: 1600px) {
  .card-layout .uk-card-media-top {
    max-width: 330px;
  }
}

.card-layout .uk-card-media-top::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: -webkit-gradient(linear, left bottom, left top, from(#1a4789), to(#6dbbd9));
  background: linear-gradient(to top, #1a4789, #6dbbd9);
  opacity: 0.27;
  top: -13px;
  left: 30px;
  z-index: 0;
  border-radius: 12px;
}

.card-layout .uk-card-media-top::before {
  content: "";
  width: 110%;
  height: 100%;
  position: absolute;
  background: -webkit-gradient(linear, left bottom, left top, from(#1a4789), to(#6dbbd9));
  background: linear-gradient(to top, #1a4789, #6dbbd9);
  opacity: 0.26;
  top: -25px;
  left: 25px;
  z-index: 0;
  border-radius: 12px;
}

.card-layout .uk-card-media-top img {
  border-radius: 12px;
  position: relative;
  z-index: 1;
}

.card-layout .uk-card-body {
  padding: 20px 20px 20px 0;
}

@media (max-width: 1599px) {
  .card-layout .uk-card-body {
    max-width: 250px;
  }
}

@media (max-width: 639px) {
  .card-layout .uk-card-body {
    max-width: none;
  }
}

@media (min-width: 1600px) {
  .card-layout .uk-card-body {
    padding: 28px 20px 28px 0;
    max-width: 330px;
  }
}

.card-layout .uk-card-body * {
  color: white;
}

.card-layout .uk-card-body .secondary-btn {
  color: #ff9c00;
}

.card-layout .uk-card-body .secondary-btn::after {
  background: url(../images/icons/right-arrow-orange.svg) no-repeat center center;
}

.testimonial-slider {
  margin: 50px 0;
}

@media (min-width: 640px) {
  .testimonial-slider {
    margin: 100px 0;
  }
}

@media (min-width: 1600px) {
  .testimonial-slider {
    margin: 120px 0;
  }
}

@media (max-width: 639px) {
  .testimonial-slider .uk-card-body {
    padding: 20px 20px;
  }
}

@media (min-width: 640px) {
  .testimonial-slider .uk-card-body {
    padding: 0 0;
  }
}

.testimonial-slider:hover {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.testimonial-slider-img {
  -webkit-box-flex: 1.5;
      -ms-flex: 1.5;
          flex: 1.5;
  max-width: 473px;
}

.testimonial-slider-info {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

@media (min-width: 640px) {
  .testimonial-slider-info {
    margin-left: 30px;
    margin-top: -50px;
  }
}

@media (min-width: 1600px) {
  .testimonial-slider-info {
    margin-top: -60px;
  }
}

.testimonial-slider-info h3 {
  margin: 0px 0px 12px;
}

.testimonial-slider-info h5 {
  margin: 0px 0px 20px;
}

@media (min-width: 1600px) {
  .testimonial-slider-info h5 {
    margin: 0px 0px 30px;
  }
}

.testimonial-slider .uk-position-center-left {
  left: 0;
}

@media (min-width: 640px) {
  .testimonial-slider .uk-position-center-left {
    left: 43%;
  }
}

@media (min-width: 1600px) {
  .testimonial-slider .uk-position-center-left {
    left: 41%;
  }
}

.testimonial-slider .uk-position-center-right {
  right: 0;
}

@media (min-width: 640px) {
  .testimonial-slider .uk-position-center-right {
    right: 44%;
  }
}

.testimonial-slider .uk-icon:not(.uk-preserve) [stroke*="#"]:not(.uk-preserve) {
  stroke-width: 3px;
  color: #ff9c00;
}

.testimonial-slider .uk-icon {
  top: 24%;
  width: 37px;
  height: 37px;
  border: 3px solid #1b498a;
  border-radius: 50%;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background-color ease 0.3s;
  transition: background-color ease 0.3s;
}

@media (min-width: 640px) {
  .testimonial-slider .uk-icon {
    top: 85%;
  }
}

@media (min-width: 1600px) {
  .testimonial-slider .uk-icon {
    width: 55px;
    height: 55px;
    top: 83%;
  }
}

.testimonial-slider .uk-icon svg {
  width: 7px;
}

.testimonial-slider .uk-icon:hover {
  background-color: #1b498a;
}

.testimonial-slider .dots-pattern {
  top: -20px;
  left: -22px;
}

.company-section {
  margin-bottom: 50px;
}

@media (min-width: 640px) {
  .company-section {
    margin-bottom: 100px;
  }
}

.company-section .uk-tile {
  padding: 0;
}

@media (max-width: 639px) {
  .company-section img {
    max-width: 140px;
  }
}

footer {
  padding-top: 60px;
  padding-bottom: 38px;
  background-color: #011021;
}

@media (min-width: 640px) {
  footer {
    padding-top: 80px;
  }
}

footer h5,
footer h3 {
  color: white;
}

footer h3 {
  font-weight: bold;
}

footer .uk-card h5 {
  color: #a9b2bc;
}

footer .uk-card p,
footer .uk-card li > a {
  color: #a9b2bc;
}

footer .uk-card p {
  margin: 0;
}

footer .footer-bottom-info a {
  color: #a9b2bc;
}

@media (max-width: 639px) {
  footer .footer-bottom-info {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

footer .footer-bottom-social .uk-icon-button {
  width: 38px;
  height: 38px;
}

footer .footer-bottom-social a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: white;
}

@media (max-width: 639px) {
  footer .footer-bottom-social {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

footer .footer-bottom-social a:nth-child(1) {
  background-color: #3a5897;
}

footer .footer-bottom-social a:nth-child(2) {
  background-color: #1da0f1;
}

footer .footer-bottom-social a:nth-child(3) {
  background-color: #c4302b;
}

footer .footer-bottom-copyright p {
  color: #a9b2bc;
}

@media (max-width: 639px) {
  footer .footer-bottom-copyright p {
    text-align: center;
  }
}

footer .footer-bottom-copyright span {
  color: #ff9c00;
}

@media (max-width: 639px) {
  footer .footer-bottom-copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

footer .uk-grid-large > * {
  padding-left: 40px;
}
/*# sourceMappingURL=main.css.map */