@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

li,
button,
label,
input,
p,
a {
  font-size: $text;
}
h1 {
  font-size: $header1;
}
h2 {
  font-size: $header2;
}
h3 {
  font-size: $header3;
}
h4 {
  font-size: $header4;
}
// h5 {
//   font-size: $header5;
// }
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: $gray-text;
}
