$header1: 2.5rem;
$header2: 4rem;
$header3: 2.5rem;
$header4: 2rem;
$text: 1.8rem;
$gradient: linear-gradient(to left, #38d39f, #38a4d3);
$background-color: #154353;
$gray-text: #2c2c2c;

@mixin flex($justify, $align, $direction) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
}

@import "global";
@import "intro";
@import "projects";
@import "contact";
@import "footer";

@media screen and (max-width: 1366px) {
  html {
    font-size: 53%;
  }
  .splash {
    display: none;
  }
  svg {
    width: 80%;
  }
  .main-head {
    nav {
      width: 100%;
    }
  }
}
@media screen and (max-width: 754px) {
  html {
    font-size: 45%;
  }
  svg {
    width: 60%;
  }
  .main-head {
    margin: auto;

    nav {
      .logo {
        @include flex(center, center, column);
        margin-top: 2rem;
        flex: 1 1 20rem;
      }
      ul {
        flex: 1 1 60rem;
        margin: 2rem 0rem;
      }
    }
  }
  .intro {
    text-align: center;
    .intro-text {
      // margin: 5rem;
    }
    .intro-social {
      a {
        img {
          width: 38px;
        }
      }
    }
    .intro-images {
      margin-top: 5rem;
    }
  }

  .travelly,
  .elena {
    flex: 1 1 50rem;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
