.title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 38px;
  &__logo {
    width: 126px;
    height: 126px;
    box-shadow: $outside-shadow;
    border-radius: 22px;
    display: grid;
    background: $inside-gradient;
    img {
      align-self: center;
      justify-self: center;
      max-width: 91px;
    }
  }
  &__name {
    color: $primary-color;
    text-transform: uppercase;
    margin-top: 9px;
    h1 {
      font-size: 28px;
      font-weight: 700;
      line-height: 42px;
    }
    h3 {
      font-size: 22px;
      font-weight: 500;
      line-height: 1;
    }
  }
}
