@media (min-width: 576px) {
    /* Global in min 576 above  */
    /* .is-flex {
        display: flex;
    } */
    /* .active {
        background-color: #575d69;
        color: inherit;
    } */
    /* .btn {
        display: inline-block;
        text-transform: uppercase;
        font-family: "Source Sans Pro", sans-serif;
        font-weight: 900;
        letter-spacing: 1px;
        border: 2px solid black;
    } */
    .btn-big {
        padding: 1rem 3rem;
    }
    .d-none {
        display: unset;
    }
    /******** HEADER SECTION *********/
    /* header {
        color: white;
        position: fixed;
        width: 100%;
        z-index: 5;
        font-size: 16px;
        font-weight: 600;
    } */
    /* .header-wrapper {
        background-color: #3c424d;
        padding: 0.6rem 1rem;
    } */
    /* ********************************  */
    /* HEADER LEFT SECTION  */
    /* .header-left-section {
        gap: 1rem;
    } */
    /* .header-left-section .logo h2 {
        font-weight: 600;
    } */
    /* .header-left-section > nav {
         border: 1px solid yellow;
        gap: 1rem;
    } */
    /* .header-left-section nav > ul {
        display: flex;
        border: 1px solid #575d69;
        border-radius: 4px;
        overflow: hidden;
    } */
    .header-left-section nav li a {
        /* display: inline-block; */
        font-size: 16px;
        padding: 0.8rem 1rem;
    }
    .header-left-section nav li a:hover {
        /* background-color: #575d69; */
        color: #e7746f;
    }
    /* ***********************************  */

    /* HEADER RIGHT SECTION  */
    /* .header-right-section {
        gap: 1rem;
    } */
    .header-right-section ul {
        /* display: flex; */
        border: 1px solid #575d69;
        /* border-radius: 4px; */
        /* overflow: hidden; */
    }
    .header-right-section li a {
        /* display: inline-block; */
        padding: 0.8rem 1.5rem;
        font-size: 16px;
    }
    .header-right-section li a:hover {
        background-color: #575d69;
    }

    .header-right-section li .btn-like {
        background-color: #1877f2;
        padding: 0.2rem 1rem;
        font-size: 14px;
        border-radius: 4px;
    }
    .header-right-section li .btn-tweet {
        background-color: #1d9bf0;
        padding: 0.2rem 1rem;
        font-size: 14px;
        border-radius: 20px;
    }
    .header-right-section ul:first-child li {
        padding: 0.7rem 1rem;
    }

    /* HERO  START */
    .hero {
        /* width: 100vw; */
        /* height: 100vh; */
        /* color: white; */
        /* background-color: #fff; */
        /* display: flex;
        flex-direction: column;
        align-items: center; */
        /* justify-content: center;
        padding-bottom: 3rem; */
    }
    .hero-content {
        /* flex-direction: column;
        align-items: center;
        justify-content: end;
        text-align: center; */
        padding: 0 7rem;
    }
    .hero-content h1 {
        /* font-size: 3rem;
        text-transform: uppercase; */
        letter-spacing: 0.4rem;
        /* line-height: 3rem; */
        /* width: 50vw; */
    }
    .hero-content p {
        /* width: 60vw; */
        margin-top: 2rem;
        /* font-size: 1rem;
        font-style: italic;
        font-weight: 300;
        line-height: 2rem; */
    }
    .hero a {
        margin-top: 2rem;
        /* border: 3px solid;
        width: 5rem;
        height: 5rem;
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        border-radius: 50%;
        justify-content: center; */
    }
    /* HERO  END */
    /* **********************************/
    /*********** MAIN SECTION ***********/
    /* **********************************/
    /* MAIN SECTION START */
    main {
        /* margin: 0 auto; */
        padding: 0 4rem;
    }
    .main-content-wrapper {
        /* background-color: white; */
        padding: 2rem;
        /* margin-bottom: 5rem; */
        /* text-align: center; */
    }
    .main-content-wrapper .date {
        /* position: relative; */
        /* font-style: normal; */
        font-size: 1rem;
        /* margin-top: 0; */
    }
    .main-content-wrapper h2 {
        /* text-transform: uppercase; */
        font-size: 3rem;
        margin-top: 2rem;
        line-height: 3rem;
        letter-spacing: 4px;
    }
    .main-content-wrapper p {
        margin-top: 1rem;
        font-size: 1rem;
        line-height: 2rem;
    }
    .main-content-wrapper .date::before,
    .main-content-wrapper .date::after {
        width: 25%;
    }
    /* .main-content-wrapper .date::before {
        left: 0;
    }
    .main-content-wrapper .date::after {
        right: 0;
    } */
    .main-content-wrapper img {
        height: 250px;
        /* object-fit: cover;
        object-position: center; */
        margin: 2rem 0;
    }

    /* CARD SECTION  */

    .cards-wrapper {
        /* background-color: #fff; */
        /* display: grid;
        grid-template-columns: repeat(2, 1fr); */
        /* margin-bottom: 5rem; */
    }
    /* .cards-wrapper .btn {
        display: inline-block;
    } */
    .card {
        padding: 4rem 2rem;
        /* border-top: 2px solid #eee;
        text-align: center; */
    }
    .card:nth-child(2n) {
        border-left: 2px solid #eee;
    }
    /* .card:last-child
    {
        border-bottom: 10px solid #f56666;
    } */
    /* .card .date {
        font-size: 0.8rem;
    } */
    /* .card h2 {
        text-transform: uppercase;
        margin-top: 1.5rem;
        letter-spacing: 2px;
    } */
    .card img {
        /* object-fit: cover; */
        /* width: 100%; */
        height: 200px;
        /* margin-top: 2rem; */
    }
    .card img + p {
        /* text-align: left; */
        margin-top: 1rem;
        line-height: 2rem;
    }
    .card .btn {
        margin-top: 2rem;
    }
    /* CONTACTS SECTION  */
    .contact-right-section > div {
        padding: 2.5rem 2rem;
    }
    /* Main Section End */
    /* FOOTER  */
    .footer-wrapper {
        flex-direction: row;
    }
}
@media (min-width: 768px) {
    body {
        display: none;
    }
}
/* @media (max-width: 1400px) {
    /* :root {
        font-size: 62.5%;
    } */
/* Header Section  */
/* .header-left-section nav > ul {
        border-radius: 0.4rem;
    } */
/* .header-right-section ul {
        border-radius: 0.4rem;
    } */

/* Main Content Section  */
/* .main-content-wrapper img {
        height: 350px;
    } */
/* Card Section  */
/* .card img {
        height: 200px;
    }
}  */
