/******** reset *********/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a {
    color: inherit;
    text-decoration: none;
    font-weight: 600;
}
li {
    list-style: none;
}
/* img {
    width: 1rem;
} */
body {
    /* font-family: "Merriweather", serif; */
    font-family: "Source Sans Pro", sans-serif;
}
.bg-red {
    font-weight: 500;
    background-color: #e7746f;
}
span {
    font-weight: 300;
}
body {
    background: url(../images/bg2.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: repeat-y;
}
/******* Global *********/
.is-flex {
    display: flex;
}
.space-between {
    justify-content: space-between;
}
.align-center {
    align-items: center;
}
.active {
    background-color: #575d69;
}
.btn {
    text-transform: uppercase;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 900;
    letter-spacing: 1px;
    border: 2px solid black;
}
.btn-big {
    padding: 1rem 3rem;
}
/* .btn-medium {
} */
p {
    font-family: "Merriweather", serif;
}
/*******************************/
/******** Header Section *********/
header {

    color: white;
    position: fixed;
    width: 100%;
    z-index: 5;
    font-size: 16px;
    font-weight: 600;
}
.header-wrapper {
    background-color: #3c424d;
    padding: 0.6rem 1rem;
}
/* ********************************  */
/* HEADER LEFT SECTION  */
.header-left-section {
    gap: 1rem;
}
.header-left-section .logo h2 {
    font-weight: 600;
}
.header-left-section > nav {
    /* border: 1px solid yellow; */
    gap: 1rem;
}
.header-left-section nav > ul {
    display: flex;
    border: 1px solid #575d69;
    border-radius: 4px;
    overflow: hidden;
}
.header-left-section nav li a {
    display: inline-block;
    padding: 0.8rem 1rem;
}
.header-left-section nav li a:hover {
    background-color: #575d69;
}
/* ***********************************  */
/* HEADER RIGHT SECTION  */
.header-right-section {
    gap: 1rem;
}
.header-right-section ul {
    /* display: flex; */
    border: 1px solid #575d69;
    border-radius: 8px;
    overflow: hidden;
}
.header-right-section li a {
    display: inline-block;
    padding: 0.8rem 1.5rem;
}
.header-right-section li a:hover {
    background-color: #575d69;
}

.header-right-section li .btn-like {
    background-color: #1877f2;
    padding: 0.2rem 1rem;
    font-size: 12px;
    border-radius: 5px;
}
.header-right-section li .btn-tweet {
    background-color: #1d9bf0;
    padding: 0.2rem 1rem;
    font-size: 12px;
    border-radius: 20px;
}
.header-right-section ul:first-child li {
    padding: 0.5rem 1rem;
    /* background-color: #fff; */
}

/* Hero  START */
.hero {
    /* width: 100vw; */
    height: 100vh;
    color: white;
    /* background-color: #fff; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero-content {
    flex-direction: column;
    /* background-color: bisque; */
    align-items: center;
    justify-content: end;
    text-align: center;
}
.hero-content h1 {
    font-size: 7rem;
    text-transform: uppercase;
    letter-spacing: 0.6rem;
    line-height: 7rem;
    width: 50vw;
}
.hero-content p {
    width: 60vw;
    margin-top: 2rem;

    font-size: 1.6rem;
    font-style: italic;
    font-weight: 300;
    line-height: 3.5rem;
}
.hero a {
    margin-top: 2rem;
    border: 3px solid;
    width: 5rem;
    height: 5rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    border-radius: 50%;
    justify-content: center;
}
/* Hero  END */
/* **********************************/
/*********** MAIN SECTION ***********/
/* **********************************/
/* Main Section STart */
main {
    margin: 0 auto;
    padding: 0 14rem;
}
.main-content-wrapper {
    background-color: white;
    padding: 10rem;
    /* margin-bottom: 5rem; */
    text-align: center;
}
.main-content-wrapper p {
    margin-top: 3rem;
    font-style: italic;
    font-size: 1.2rem;
    line-height: 3rem;
}
.main-content-wrapper .date {
    position: relative;
    font-style: normal;
    font-size: 1.2rem;
    margin-top: 0;
}
.main-content-wrapper .date::before,
.main-content-wrapper .date::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 40%;
    height: 2px;
    background-color: #eee;
    z-index: 2;
}
.main-content-wrapper .date::before {
    left: 0;
}
.main-content-wrapper .date::after {
    right: 0;
}
.main-content-wrapper h2 {
    text-transform: uppercase;
    font-size: 5rem;
    margin-top: 5rem;
    line-height: 6rem;
    letter-spacing: 6px;
}
.main-content-wrapper img {
    height: 500px;
    object-fit: cover;
    object-position: center;
    margin: 5rem 0;
}
/* Card Section  */
.cards-wrapper {
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* margin-bottom: 5rem; */
}
.cards-wrapper .btn {
    display: inline-block;
}
.card {
    padding: 5rem 4rem;
    border-top: 2px solid #eee;
    text-align: center;
}
.card:nth-child(2n) {
    border-left: 2px solid #eee;
}
/* .card:last-child
{
    border-bottom: 10px solid #f56666;
} */
.card h2 {
    text-transform: uppercase;
    margin-top: 1.5rem;
    letter-spacing: 2px;
}
.card img {
    object-fit: cover;
    width: 100%;
    height: 300px;
    margin-top: 2rem;
}
.card img + p {
    text-align: left;
    margin-top: 2rem;
    line-height: 2.5;
}
.card .btn {
    margin-top: 2rem;
}
/* Contacts Section  */
.contacts-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #f5f5f5;
    /* margin-bottom: 10rem; */
}
.contact-left-section,
.contact-right-section {
    color: gray;
}

.contact-left-section {
    display: flex;
    flex-direction: column;
    padding: 4rem;
}
.contact-left-section label {
    margin-bottom: 0.8rem;
    font-weight: 900;
    text-transform: uppercase;
}
.contacts-section input[type="text"],
.contacts-section textarea {
    background-color: #f5f5f5;
    margin-bottom: 1.5rem;
}
.contacts-section input[type="text"],
.contacts-section input[type="text"]:focus,
.contacts-section input[type="text"]:focus-visible,
.contacts-section textarea,
.contacts-section textarea:focus,
.contacts-section textarea:focus-visible {
    outline: none;
    border: 2px solid;
    border-color: #dbdbdb;
    color: gray;
}
.contacts-section input[type="text"],
.contacts-section textarea {
    padding: 1rem;
}

.contact-right-section {
    border-left: 2px solid #dbdbdb;
}
.contact-right-section label {
    text-transform: uppercase;
    font-weight: 900;
    width: 7rem;
}
.contact-right-section p {
     line-height: 3rem;
     margin-top: -1rem;
}
.contact-right-section > div {
    display: flex;
    padding: 3.5rem 4rem;
}
.contact-right-section > div:nth-child(n) {
 border-bottom: 2px solid #dbdbdb;
}
.contact-right-section > div:last-child {
 border-bottom: none;
}
.contacts-section .btn {
    border-color: gray;
    width: fit-content;
}
.contact-right-section .social{
    align-items: center;
}
.contact-right-section .social ul {
    display: flex;
    gap: 1rem;
    font-size: 1.4rem;
    /* margin-top: -1rem; */
}
.contact-right-section .social ul li a{
    position: relative;
    z-index: 1;
}

.contact-right-section .social i.fab {
    display: inline-block;
    border-radius: 60px;
    border: 1px solid #dbdbdb;
    padding: 0.5em 0.6em;

  }
/* Main Section End */
/* Footer Start */

.footer-wrapper{
    padding: 4rem 0 6rem 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    /* background-color: #fff; */
}
.footer-wrapper > *{
 font-size: 1rem;
 text-transform: uppercase;
 color: gray;
}
/* Footer End */